@model InvoiceApplication.Models.Invoice

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Invoice</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.BillingDeadline, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BillingDeadline, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BillingDeadline, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Buyer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Buyer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Buyer, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Country</label>
        <div class="col-md-10">
            @Html.DropDownList("country", new SelectList((List<string>)ViewBag.Countries), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table>
                <tr>
                    @{
                        int cnt = 0;
                        List<InvoiceApplication.Models.ProductOnList> products = ViewBag.Products;
                        if (products != null)
                        {
                            foreach (var product in products)
                            {
                                if (cnt++ % 2 == 0)
                                {
                            @:</tr><tr>
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedProducts"
                                           value="@product.InvoiceID"
                                           @(Html.Raw(product.Assigned ? "checked=\"checked\"" : "")) />
                                    @: <strong>@product.Name</strong>
                                @:</td>
                                }
                                else
                                {
                                @:<td>
                                    <input style="margin:0px 0px 0px 60px"
                                           type="checkbox"
                                           name="selectedProducts"
                                           value="@product.InvoiceID"
                                           @(Html.Raw(product.Assigned ? "checked=\"checked\"" : "")) />
                                    @: <strong>@product.Name</strong>
                                @:</td>
                                }
                            @:<td style="margin:0px 100px 0px 100px">
                                <strong style="margin:0px 0px 0px 30px">Quantity</strong>
                                <input type="number"
                                       name="quantity"
                                       value="0">
                            @:</td>
                            }
                        }
                        else
                        {
                            <div class="panel-body">
                                <h3 style="color:red;">Empty!</h3>
                            </div>
                        }
                    @:</tr>
                    }
                </table>
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
